<ion-view title="Config">
  <ion-content class="has-header">
    <div class="list padding">
      <label class="item item-input">
        <input type="text" placeholder="Complete name" ng-model="data.name">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Date of birth" ng-model="data.date">
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ng-click="saveConfig()">Next</button>
    </div>
  </ion-content>
</ion-view>
